.container {
  border-radius: 16px;
  width: 148px;
  height: 95px;
  background-color: #00164e;
  padding: 16px 20px;
  color: #fff;
  display: flex;
  gap: 12px;
  :hover {
    cursor: pointer;
  }

  img {
    width: 24px;
    height: 24px;
  }
  p {
    font-size: 18px;
    font-weight: 500;
  }
}
