@use "../../styles/variables" as *;

.inputWrapper {
  position: relative;
  width: 100%;
  max-width: 396px;
}

.icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: $color-text-secondary;
  transition: opacity 0.2s ease;
}

.input {
  height: 60px;
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 14px 16px; // базовый padding
  font-size: 18px;

  &::placeholder {
    color: $color-text-secondary;
  }

  &:focus {
    outline: none;
    border-color: #999;
  }
}

.withIcon {
  padding-left: 48px;
}

.withPasswordToggle {
  padding-right: 48px;
}

.passwordToggle {
  width: 24px;
  position: absolute;
  right: 16px;
  top: 0;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;

  img,
  svg {
    width: 24px;
    height: 24px;
    color: $color-text-secondary;
  }
}
