@use "../../../../../styles/variables" as *;

.container {
  height: 100vh;
  width: 428px;
  margin: 0 auto;
  background-color: #fff;
}

.main {
  margin: 56px 16px 0 16px;

  h1 {
    margin-bottom: 16px;
  }
  .paragraph {
    margin-bottom: 48px;
    color: $color-text-secondary;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .timer {
    font-size: 20px;
    font-weight: 500;
    margin: 36px auto;
  }
  .secondTry {
    font-size: 16px;
    color: $color-text-secondary;
    margin-bottom: 56px;
  }
}

.otpInput {
  background-color: #f8f9fb;
  color: #000;
  width: 59px !important;
  height: 71px;
  border-radius: 8px;
  font-size: 26px;
  font-weight: 500;

  &:focus {
    border: 2px solid $color-text-primary;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none; // Скрывает стандартный элемент управления
    margin: 0;
  }
}

.otpContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 396px;
  margin-bottom: 32px;
}
