.wrapper {
  background-image: url("../../assets//images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 428px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logoContainer {
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
