@use "../../../styles/variables" as *;
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.backButton {
  margin: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .inputGroup {
      width: 100%;
      max-width: 396px;
    }
  }
}

.logoContainer {
  margin: 66px auto;
}

footer {
  align-self: center;
  margin-top: 35px;
  color: #6a6a6a;
  cursor: default;
}

.recover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.error {
  color: $color-warning;
  font-size: 14px;
  align-self: flex-start;
  margin-left: calc(5% + 12px);
  font-weight: 400;
}
.inputError {
  border: 2px solid $color-warning;
  color: $color-warning;
}
