.container {
  background-image: url("/src/assets/images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  position: sticky;
  top: 0;
  z-index: 20;
  background: transparent;
  backdrop-filter: blur(3px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 8px 0;
  background-image: url("/src/assets/images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;

  .left {
    width: 42px; // такая же ширина, как у bell
  }

  .logo {
    margin: 0 auto; // центрируем
  }

  .bell {
    margin-right: 8px;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.main {
  flex: 1;
  overflow: visible;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #fff;
  padding-top: 0;
  min-height: auto;
  padding: 16px;

  h2 {
    margin-bottom: 15px;
  }
}

.headerTabs {
  display: flex;
  width: 100%;
  gap: 13px;
  margin-bottom: 33px;
}

.ads {
  margin-top: 20px;
}

.restaurants {
  margin-top: 45px;
  .restaurantsHeader {
    margin-bottom: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    button {
      width: 75px;
      height: 37px;
      color: #897dd3;
      background-color: #d1caff;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
