@use "../../../../../../styles/variables" as *;

.container {
  height: 100%;
  background-color: #fff;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-top: 10px;

  .left {
    width: 42px;
  }
  .logo {
    margin: 0 auto;
  }
  .bell {
    width: 42px;
  }
}

.main {
  margin-top: 16px;
  margin-left: 16px;

  h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
  }

  form {
    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      label {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

.error {
  width: 80%;
  color: $color-warning;
  font-size: 14px;
  align-self: flex-start;

  font-weight: 400;
}
