.container {
  background-color: #292929;
  height: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 24px 0 8px 0;

  .left {
    width: 42px;
  }
  .logo {
    margin: 0 auto;
  }
  .bell {
    margin-right: 8px;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.main {
  color: #fff;
  padding: 22px 16px;

  h2 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 500;
  }
}

ul {
  list-style-type: none;
  margin-top: 32px;

  li {
    display: flex;
    align-items: center;
    height: 40px;
    width: fit-content;
    gap: 11px;

    cursor: pointer;

    &:last-child {
      color: #ff5959;
    }
  }
}
