.container {
  height: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;

  .left {
    width: 42px;
  }
  .logo {
    margin: 0 auto;
  }
  .bell {
    margin-right: 8px;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.main {
  h1 {
    font-weight: 500;
    font-size: 30px;
    margin: 16px auto 16px 16px;
  }
}
