.container {
  background-color: #292929;
  height: 100%;
}

.main {
  padding: 16px;

  h2 {
    color: #fff;
    margin-bottom: 20px;
  }
}
.edit {
  margin-top: 16px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
}

.ant-modal {
  color: #fff !important;
}
