@use "../../../../styles/variables" as *;

.container {
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;

  margin-left: 16px;
  margin-top: 16px;
}

.header {
  font-size: 30px;
  font-weight: 600;
  color: $color-text-primary;
}
.paragraph {
  font-size: 16px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 69px;
  color: $color-text-secondary;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    font-size: 18px;
    font-weight: 500;
    color: $color-text-primary;
  }
}

.error {
  color: $color-warning;
  font-size: 14px;
  align-self: flex-start;
  margin-left: calc(5% + 12px);
  font-weight: 400;
}
