.container {
  border-radius: 16px;
  background-color: #fff;
  min-height: 100vh;
  padding-left: 16px;
}

.address {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 22px;

  p {
    font-size: 14px;
    font-weight: 400;
  }
}

.searchBar {
  margin-top: 10px;
  margin-bottom: 16px;
}
