.container {
  border-radius: 16px;
  background-color: #fff;
  min-height: 100vh;
  padding-left: 16px;
}

.address {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 22px;

  p {
    font-size: 14px;
    font-weight: 400;
  }
}

.searchBar {
  margin-top: 10px;
  margin-bottom: 16px;
}

.categoriesSection {
  margin-top: 16px;
  margin-bottom: 32px;
  height: 234px;
  width: 100%;
  h2 {
    margin: 16px 0;
    font-weight: 500;
  }
}

.spinner {
  height: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}
