.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 4px;
  row-gap: 4px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
}

.featureTab {
  height: 95px;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex: 1;
  cursor: pointer;
}

.foodDelivery {
  background-color: #8475e8;
}
.mobile {
  background-color: #36d6a38d;
  cursor: not-allowed;
}
.services {
  background-color: #1fbcdf7e;
  cursor: not-allowed;
}
.jobs {
  background-color: #f6a54f70;
  cursor: not-allowed;
}
