.container {
  width: 428px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
}

.main {
  padding-left: 16px;
  padding-right: 16px;

  .header {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 16px;
  }
  .paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #a7a9b7;
    margin-bottom: 16px;
  }
}
.form {
  align-self: center;
}

.error {
  color: rgb(155, 0, 0);
  font-size: 14px;
  align-self: flex-start;
  margin-left: calc(5% + 12px);
  font-weight: 400;
}
