body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
    margin: 0;
    background-image: url("/src/assets/images/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* фон будет скролиться */
    height: 150%;
}

#root {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}