.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 428px;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  background-color: #fff;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  width: 100%;
  height: 95px;
  margin-left: 0;
  border: 0.5px solid #c3c3c3;
}

.navItem {
  height: 50px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  p {
    margin-top: 8px;
    font-size: 12px;
    color: #8d8d8d;
  }

  .activeText {
    color: #3971f5;
    font-weight: 600;
  }
}
