.root {
    display: flex;
    height: 100vh;
    width: 100%;
    background: #f2f3f7;
}

img {
    max-width: 100%;
}


/* SIDEBAR */

.sidebar {
    width: 320px;
    background: #ffffff;
    border-right: 1px solid #e2e4ec;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sidebarLogo {
    position: relative;
    z-index: 1;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarLogo:before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1px;
    background: #A2A2A2;
    bottom: 0;
    left: 0;
}

.sidebarBody {
    padding: 0 0 0 24px;
}

.sidebarSectionTitle {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #a7a9b7;
    margin-top: 8px;
    margin-bottom: 4px;
}

.sidebarNav {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.navItem {
    text-align: left;
    padding: 6px 8px;
    border-radius: 6px;
    border: none;
    background: transparent;
    font-size: 14px;
    color: #191d31;
    cursor: pointer;
}

.navItemActive {
    background: #f2f6ff;
    color: #191d31;
}


/* MAIN AREA */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* Верхний градиентный бар */

.header {
    height: 100px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(90deg, #1e8bf3 0%, #8148f6 100%);
    color: #ffffff;
}

.headerTitle {
    font-size: 20px;
    font-weight: 600;
}

.headerRight {
    font-size: 14px;
}

.headerUser {
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 6px 12px;
    background: #fff;
    color: #000;
}

.headerUserText {
    margin-left: 10px;
}


/* Контент */

.content {
    flex: 1;
    padding: 24px 32px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}