/* Верхняя панель */

.topBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 16px;
    padding: 0 24px;
}

.titleBlock {
    min-width: 240px;
}

.pageTitle {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.breadcrumbs {
    margin-top: 22px;
    font-size: 12px;
    color: #667085;
}

.breadcrumbLink {
    color: #7749f8;
    cursor: pointer;
}

.breadcrumbs span:last-child {
    color: #68717a;
}

.breadcrumbActive {
    color: #111827;
}


/* Правый блок управления */

.controlsBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.searchInput {
    width: 488px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #d3d7e3;
    font-size: 12px;
    background: #fff;
}

.actionsRow {
    display: flex;
    gap: 8px;
    align-items: center;
}

.select {
    min-width: 240px;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #d3d7e3;
    background: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectText {
    font-size: 14px;
    color: #667085;
}

.selectIcon {
    display: inline-flex;
}

.applyButton {
    padding: 10px 19px;
    border-radius: 4px;
    border: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 11px;
    cursor: pointer;
}

.applyButton:hover {
    background: #6b7280;
    transition: .4s ease all;
}

.tableWrapper {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 260px);
    min-height: 520px;
}

.tableContainer {
    flex: 1;
    width: 100%;
    overflow: auto;
}

.tableWrapper .table {
    width: 100% !important;
    min-width: 100% !important;
    margin: 0 !important;
    display: table !important;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 12px;
}


/* Шапка */

.table thead tr {
    background: #f3f3f3;
}

.table thead th {
    background: #f3f3f3;
    font-weight: 600;
    color: #111827;
}

.table th,
.table td {
    padding: 10px 14px;
    border-bottom: 1px solid #f1f2f6;
    text-align: left;
    vertical-align: middle;
}


/* Колонки */

.checkboxCol {
    width: 44px;
}

.eyeCol {
    width: 56px;
    text-align: center;
}

.thWithSort {
    display: inline-flex;
    gap: 6px;
    align-items: center;
}

.sortIcon {
    font-size: 10px;
    color: #a7a9b7;
    transform: translateY(-1px);
}


/* View */

.viewLink {
    border: none;
    background: none;
    padding: 0;
    color: #101828;
    cursor: pointer;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.viewArrow {
    font-size: 14px;
    line-height: 1;
    color: #98a2b3;
}


/* Глаз */

.eyeButton {
    width: 28px;
    height: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* hover row */

.clickableRow {
    cursor: pointer;
}

.clickableRow:hover {
    background: #fafafa;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0 16px;
}

.paginationButton {
    min-width: 40px;
    height: 30px;
    padding: 0 12px;
    border: 1px solid #d9dce7;
    background: #fff;
    color: #191d31;
    font-size: 11px;
    cursor: pointer;
    border-radius: 0;
    margin-left: -1px;
}

.paginationButton:first-child {
    margin-left: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.paginationButton:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pageActive {
    background: #2b2b2b;
    color: #fff;
    border-color: #2b2b2b;
}

.paginationButton:disabled {
    opacity: 0.4;
    cursor: default;
}

// filter // 
.filterWrap {
    position: relative;
}

.filterDropdown {
    position: absolute;
    top: 38px;
    left: 0;
    width: 360px;
    background: #fff;
    border: 1px solid #d3d7e3;
    border-radius: 8px;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
    z-index: 50;
    overflow: hidden;
}

.filterHead {
    padding: 10px 12px;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #e6e8f0;
    color: #111827;
}

.filterSectionTitle {
    padding: 10px 12px 6px;
    font-size: 12px;
    font-weight: 700;
    color: #111827;
}

.filterList {
    padding: 0 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filterItem {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 13px;
    color: #111827;
    input {
        width: 16px;
        height: 16px;
    }
}

.filterEmpty {
    font-size: 12px;
    color: #667085;
}

.filterActions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 12px;
    border-top: 1px solid #e6e8f0;
    background: #fff;
}

.filterCancel {
    height: 32px;
    padding: 0 14px;
    border-radius: 6px;
    border: 1px solid #d0d5dd;
    background: #fff;
    cursor: pointer;
}

.filterApply {
    height: 32px;
    padding: 0 14px;
    border-radius: 6px;
    border: none;
    background: #0b57d0;
    color: #fff;
    cursor: pointer;
}

.filterClear {
    width: 100%;
    border: none;
    background: #f7f7fb;
    color: #111827;
    padding: 10px 12px;
    cursor: pointer;
    border-top: 1px solid #e6e8f0;
}

// action 
.actionWrap {
    position: relative;
}

.actionDropdown {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    width: 360px;
    background: #fff;
    border: 1px solid #eaecf0;
    border-radius: 10px;
    box-shadow: 0 12px 24px rgba(16, 24, 40, 0.18);
    overflow: hidden;
    z-index: 50;
}

.actionHead {
    padding: 16px 18px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #eaecf0;
}

.actionItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 18px;
    border-bottom: 1px solid #f2f4f7;
    font-size: 16px;
    color: #101828;
    input {
        width: 18px;
        height: 18px;
    }
}

.actionDelete {
    color: #b42318;
}

.actionActions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 14px 18px;
}

.actionCancel {
    height: 34px;
    min-width: 80px;
    border-radius: 6px;
    border: 1px solid #d0d5dd;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
}

.actionApply {
    height: 34px;
    min-width: 80px;
    border-radius: 6px;
    border: 1px solid #175cd3;
    background: #175cd3;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}