.customWrapper {
  background-size: cover;
  background-position: center;

  width: 180px;
  height: 115px;
  border-radius: 16px;

  color: #283fa3;
  padding: 16px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  a {
    text-decoration: none;
    color: #283fa3;
    &:hover {
      text-decoration: underline;
      color: #0e085e;
    }
  }
}

.moreCard {
  width: 190px;
  height: 220px;
  border-radius: 16px;
  background-color: #eaea;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card {
  cursor: pointer;
}

.restaurantsWrapper {
  background-color: #eaeaea;
  width: 190px;
  height: 220px;
  border-radius: 16px;
  overflow: hidden;
  img {
    height: 126px;
    width: 190px;
    object-fit: cover;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-self: end;
    padding: 13px;
    height: calc(100% - 126px);
    h4 {
      font-size: 16px;
      font-weight: 500;
    }
    p {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: auto;
      margin-top: 4px;
    }
    .delivery {
      display: flex;
      align-items: center;

      gap: 6px;
      color: #a4a4a4;
      img {
        width: auto;
        height: 18px;
        object-fit: contain;
        margin-right: auto;
      }
    }
  }
}
