.customWrapper {
  background-size: cover;
  background-position: center;

  width: 180px;
  height: 115px;
  border-radius: 16px;

  color: #283fa3;
  padding: 16px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  a {
    text-decoration: none;
    color: #283fa3;
    &:hover {
      text-decoration: underline;
      color: #0e085e;
    }
  }
}

.moreCard {
  width: 190px;
  height: 220px;
  border-radius: 16px;
  background-color: #eaea;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card {
  cursor: pointer;
}

.restaurantsWrapper {
  background-color: #eaeaea;
  width: 190px;
  height: 220px;
  border-radius: 16px;
  overflow: hidden;
  img {
    height: 126px;
    width: 190px;
    object-fit: cover;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-self: end;
    padding: 13px;
    height: calc(100% - 126px);
    h4 {
      font-size: 16px;
      font-weight: 500;
    }
    p {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: auto;
      margin-top: 4px;
    }
    .delivery {
      display: flex;
      align-items: center;

      gap: 6px;
      color: #a4a4a4;
      img {
        width: auto;
        height: 18px;
        object-fit: contain;
        margin-right: auto;
      }
    }
  }
}

.loopCardSliderWrapper {
  position: relative;
  width: 100%;
}

.cardSwitcherPagination {
  margin-top: 12px;
  height: 16px;
  display: flex;
  justify-content: center;
}

.categoriesCard {
  cursor: pointer;
  height: 190px;
  width: 140px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #f4f4f4;
  img {
    width: 140px;
    height: 126px;
    object-fit: cover;
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 9px 13px;
  }
  p {
    margin-left: 13px;
    color: #808080;
    font-size: 12px;
  }
}

.restaurantsBigWrapper {
  display: flex;
  flex-direction: column;
  width: 391px;
  height: 271px;
  border-radius: 16px;
  border: #eaeaea 1px solid;
  overflow: hidden;
  .info {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding-right: 26px;
    .name {
      padding: 12px;
      h4 {
        font-size: 20px;
        font-weight: 500;
      }
      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .delivery {
      width: 68px;
      height: 52px;
      background-color: #d1caff;
      border-radius: 8px;
      color: #897dd3;
      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: center;
    }
  }
  img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    display: block;
  }
}
