.container {
  height: 100vh;
  width: 428px;
  margin: 0 auto;
  background-color: #fff;
  padding-left: 16px;
  padding-right: 16px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  margin-top: 16px;
  margin-bottom: 16px;
}

.establishments {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
